In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [30]:
df= pd.read_csv(r'C:\Users\HP\Churn Modeling.csv')

In [31]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
RowNumber          10000 non-null int64
CustomerId         10000 non-null int64
Surname            10000 non-null object
CreditScore        10000 non-null int64
Geography          10000 non-null object
Gender             10000 non-null object
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
Exited             10000 non-null int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [33]:
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [34]:
X= df.iloc[:,3:13]
y= df.iloc[:,-1]

In [35]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

#### Convert Categorical feature into dummy variables

In [36]:
states= pd.get_dummies(X['Geography'],drop_first=True)
gender= pd.get_dummies(X['Gender'],drop_first=True)

#### Drop the coumns as it no longer required

In [37]:
X=X.drop(['Geography','Gender'],axis=1)

#### Concatenate categorical feature into dummy variables

In [38]:
X= pd.concat([X,states,gender],axis=1)

In [39]:
X.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0

#### Splitting the dataset into Training and Test set

In [40]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=.2,random_state=0)

#### Feature Scaling

In [41]:
from sklearn.preprocessing import StandardScaler
sc= StandardScaler()
X_train=sc.fit_transform(X_train)
X_test= sc.transform(X_test)

### Part-2 ANN

##### Importing the Keras Libraries and packages

In [42]:
import keras
from keras.models import Sequential  ###(ANN,CNN,RNN do have to import this library)
from keras.layers import Dense       ###(For hidden layer creation)
#from keras.layers import LeakyReLU,PReLU,ELU
from keras.layers import Dropout

In [43]:
# Initialising the ANN
classifier= Sequential()

In [44]:
# Adding the Input layer and the first hidden layer
# "init" decides how your weights needs to be initialized
# With ReLU activation 'he_uniform' and 'he_normal' works well
# ReLU prevents Vanishing Gradient Descent problem as compare to Sigmoid

classifier.add(Dense(units=6,kernel_initializer='he_uniform',activation='relu',input_dim=11))

In [45]:
# Adding the second hidden layer

classifier.add(Dense(units=6,kernel_initializer='he_uniform',activation='relu'))

In [46]:
# Adding the output layer

classifier.add(Dense(units=1,kernel_initializer='glorot_uniform',activation='sigmoid'))

In [48]:
    classifier.summary()

    # Total params basically indicates that how many weights and bias and also can calculate it
    # and can see how many weight and neurons are there

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_10 (Dense)             (None, 6)                 72
_________________________________________________________________
dense_11 (Dense)             (None, 6)                 42
_________________________________________________________________
dense_12 (Dense)             (None, 1)                 7
=================================================================
Total params: 121
Trainable params: 121
Non-trainable params: 0
_________________________________________________________________

In [49]:
#### Compiling the ANN

# Optimizer= GD optimization technique
# Whenever outbut 0 or 1 we must use binary_crossentropy
# If output is multicategory then we should use categorical_crossentropy

classifier.compile(optimizer='adam',loss= 'binary_crossentropy',metrics=['accuracy'])

In [50]:
### Fitting the ANN to the Training set

#  Through validation_split we can test our model separatly for test dataset
# Batch_size make computational power less, more amount of records we dont have to load at just one time.RAM will be pretty
#   much free
# nb_epochs for iterations

model_history= classifier.fit(X_train,y_train,validation_split=0.33,batch_size=10,nb_epoch=100)

E:\Anaconda\lib\site-packages\ipykernel_launcher.py:3: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  This is separate from the ipykernel package so we can avoid doing imports until

WARNING:tensorflow:From E:\Anaconda\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Train on 5359 samples, validate on 2641 samples
Epoch 1/100
5359/5359 [==============================] - 3s 629us/step - loss: 0.5272 - accuracy: 0.7850 - val_loss: 0.4795 - val_accuracy: 0.7959
Epoch 2/100
5359/5359 [==============================] - 2s 307us/step - loss: 0.4538 - accuracy: 0.8011 - val_loss: 0.4477 - val_accuracy: 0.8031
Epoch 3/100
5359/5359 [==============================] - 2s 306us/step - loss: 0.4287 - accuracy: 0.8125 - val_loss: 0.4321 - val_accuracy: 0.8080
Epoch 4/100
5359/5359 [==============================] - 2s 294us/step - loss: 0.4127 - accuracy: 0.8207 - val_loss: 0.4219 - val_accuracy: 0.8111
Epoch 5/100
5359/5359 [==============================] - 2s 286us/step - loss: 0.4009 - accuracy: 0.8268 - val_loss: 0.4111 - val_accuracy: 0.8201
Epoch 6/100
5359/5359 [==============================] - 2s 313us/step - loss: 0.3880 - accuracy: 0.8378 - val_loss: 0.3969 - val_accuracy: 0.8349
Epoch 7/100
5359/5359 [==============================] - 2s 316us/step - loss: 0.3740 - accuracy: 0.8459 - val_loss: 0.3858 - val_accuracy: 0.8406
Epoch 8/100
5359/5359 [==============================] - 2s 317us/step - loss: 0.3628 - accuracy: 0.8494 - val_loss: 0.3780 - val_accuracy: 0.8436
Epoch 9/100
5359/5359 [==============================] - 2s 292us/step - loss: 0.3561 - accuracy: 0.8531 - val_loss: 0.3736 - val_accuracy: 0.8474
Epoch 10/100
5359/5359 [==============================] - 2s 300us/step - loss: 0.3524 - accuracy: 0.8539 - val_loss: 0.3713 - val_accuracy: 0.8474
Epoch 11/100
5359/5359 [==============================] - 2s 297us/step - loss: 0.3496 - accuracy: 0.8550 - val_loss: 0.3690 - val_accuracy: 0.8504
Epoch 12/100
5359/5359 [==============================] - 2s 326us/step - loss: 0.3471 - accuracy: 0.8563 - val_loss: 0.3686 - val_accuracy: 0.8485
Epoch 13/100
5359/5359 [==============================] - 2s 369us/step - loss: 0.3464 - accuracy: 0.8563 - val_loss: 0.3666 - val_accuracy: 0.8493
Epoch 14/100
5359/5359 [==============================] - 2s 352us/step - loss: 0.3448 - accuracy: 0.8548 - val_loss: 0.3664 - val_accuracy: 0.8508
Epoch 15/100
5359/5359 [==============================] - 2s 426us/step - loss: 0.3436 - accuracy: 0.8565 - val_loss: 0.3655 - val_accuracy: 0.8485
Epoch 16/100
5359/5359 [==============================] - 2s 373us/step - loss: 0.3429 - accuracy: 0.8567 - val_loss: 0.3656 - val_accuracy: 0.8497
Epoch 17/100
5359/5359 [==============================] - 2s 394us/step - loss: 0.3421 - accuracy: 0.8582 - val_loss: 0.3643 - val_accuracy: 0.8501
Epoch 18/100
5359/5359 [==============================] - 2s 418us/step - loss: 0.3411 - accuracy: 0.8589 - val_loss: 0.3624 - val_accuracy: 0.8508
Epoch 19/100
5359/5359 [==============================] - 2s 397us/step - loss: 0.3398 - accuracy: 0.8595 - val_loss: 0.3617 - val_accuracy: 0.8542
Epoch 20/100
5359/5359 [==============================] - 2s 427us/step - loss: 0.3395 - accuracy: 0.8584 - val_loss: 0.3616 - val_accuracy: 0.8535
Epoch 21/100
5359/5359 [==============================] - 2s 383us/step - loss: 0.3388 - accuracy: 0.8610 - val_loss: 0.3611 - val_accuracy: 0.8535
Epoch 22/100
5359/5359 [==============================] - 2s 398us/step - loss: 0.3377 - accuracy: 0.8614 - val_loss: 0.3603 - val_accuracy: 0.8565
Epoch 23/100
5359/5359 [==============================] - 2s 455us/step - loss: 0.3378 - accuracy: 0.8628 - val_loss: 0.3598 - val_accuracy: 0.8565
Epoch 24/100
5359/5359 [==============================] - 2s 453us/step - loss: 0.3369 - accuracy: 0.8615 - val_loss: 0.3591 - val_accuracy: 0.8557
Epoch 25/100
5359/5359 [==============================] - 2s 402us/step - loss: 0.3364 - accuracy: 0.8599 - val_loss: 0.3593 - val_accuracy: 0.8565
Epoch 26/100
5359/5359 [==============================] - 2s 399us/step - loss: 0.3358 - accuracy: 0.8617 - val_loss: 0.3591 - val_accuracy: 0.8542
Epoch 27/100
5359/5359 [==============================] - 2s 417us/step - loss: 0.3353 - accuracy: 0.8621 - val_loss: 0.3579 - val_accuracy: 0.8554
Epoch 28/100
5359/5359 [==============================] - 2s 424us/step - loss: 0.3347 - accuracy: 0.8606 - val_loss: 0.3580 - val_accuracy: 0.8557
Epoch 29/100
5359/5359 [==============================] - 2s 399us/step - loss: 0.3347 - accuracy: 0.8617 - val_loss: 0.3569 - val_accuracy: 0.8546
Epoch 30/100
5359/5359 [==============================] - 2s 419us/step - loss: 0.3338 - accuracy: 0.8608 - val_loss: 0.3591 - val_accuracy: 0.8561
Epoch 31/100
5359/5359 [==============================] - 2s 361us/step - loss: 0.3339 - accuracy: 0.8614 - val_loss: 0.3569 - val_accuracy: 0.8569
Epoch 32/100
5359/5359 [==============================] - 2s 350us/step - loss: 0.3328 - accuracy: 0.8638 - val_loss: 0.3586 - val_accuracy: 0.8561
Epoch 33/100
5359/5359 [==============================] - 2s 322us/step - loss: 0.3329 - accuracy: 0.8608 - val_loss: 0.3566 - val_accuracy: 0.8576
Epoch 34/100
5359/5359 [==============================] - 2s 372us/step - loss: 0.3324 - accuracy: 0.8643 - val_loss: 0.3578 - val_accuracy: 0.8569
Epoch 35/100
5359/5359 [==============================] - 2s 371us/step - loss: 0.3319 - accuracy: 0.8634 - val_loss: 0.3566 - val_accuracy: 0.8573
Epoch 36/100
5359/5359 [==============================] - 2s 373us/step - loss: 0.3314 - accuracy: 0.8634 - val_loss: 0.3560 - val_accuracy: 0.8576
Epoch 37/100
5359/5359 [==============================] - 2s 407us/step - loss: 0.3308 - accuracy: 0.8632 - val_loss: 0.3577 - val_accuracy: 0.8565
Epoch 38/100
5359/5359 [==============================] - 2s 399us/step - loss: 0.3305 - accuracy: 0.8638 - val_loss: 0.3570 - val_accuracy: 0.8569
Epoch 39/100
5359/5359 [==============================] - 1s 278us/step - loss: 0.3306 - accuracy: 0.8653 - val_loss: 0.3557 - val_accuracy: 0.8591
Epoch 40/100
5359/5359 [==============================] - 1s 280us/step - loss: 0.3301 - accuracy: 0.8642 - val_loss: 0.3562 - val_accuracy: 0.8538
Epoch 41/100
5359/5359 [==============================] - 2s 306us/step - loss: 0.3299 - accuracy: 0.8636 - val_loss: 0.3564 - val_accuracy: 0.8565
Epoch 42/100
5359/5359 [==============================] - 2s 326us/step - loss: 0.3291 - accuracy: 0.8647 - val_loss: 0.3560 - val_accuracy: 0.8580
Epoch 43/100
5359/5359 [==============================] - 2s 341us/step - loss: 0.3297 - accuracy: 0.8653 - val_loss: 0.3561 - val_accuracy: 0.8557
Epoch 44/100
5359/5359 [==============================] - 2s 329us/step - loss: 0.3291 - accuracy: 0.8621 - val_loss: 0.3562 - val_accuracy: 0.8546
Epoch 45/100
5359/5359 [==============================] - 2s 331us/step - loss: 0.3289 - accuracy: 0.8645 - val_loss: 0.3550 - val_accuracy: 0.8538
Epoch 46/100
5359/5359 [==============================] - 2s 375us/step - loss: 0.3283 - accuracy: 0.8664 - val_loss: 0.3571 - val_accuracy: 0.8569
Epoch 47/100
5359/5359 [==============================] - 2s 438us/step - loss: 0.3280 - accuracy: 0.8634 - val_loss: 0.3553 - val_accuracy: 0.8546
Epoch 48/100
5359/5359 [==============================] - 2s 348us/step - loss: 0.3284 - accuracy: 0.8664 - val_loss: 0.3555 - val_accuracy: 0.8569
Epoch 49/100
5359/5359 [==============================] - 2s 392us/step - loss: 0.3281 - accuracy: 0.8649 - val_loss: 0.3545 - val_accuracy: 0.8565
Epoch 50/100
5359/5359 [==============================] - 2s 414us/step - loss: 0.3278 - accuracy: 0.8660 - val_loss: 0.3563 - val_accuracy: 0.8557
Epoch 51/100
5359/5359 [==============================] - 2s 387us/step - loss: 0.3280 - accuracy: 0.8647 - val_loss: 0.3548 - val_accuracy: 0.8557
Epoch 52/100
5359/5359 [==============================] - 2s 394us/step - loss: 0.3274 - accuracy: 0.8634 - val_loss: 0.3549 - val_accuracy: 0.8557
Epoch 53/100
5359/5359 [==============================] - 2s 386us/step - loss: 0.3274 - accuracy: 0.8655 - val_loss: 0.3543 - val_accuracy: 0.8561
Epoch 54/100

5359/5359 [==============================] - 2s 334us/step - loss: 0.3272 - accuracy: 0.8651 - val_loss: 0.3553 - val_accuracy: 0.8584
Epoch 55/100
5359/5359 [==============================] - 2s 382us/step - loss: 0.3274 - accuracy: 0.8642 - val_loss: 0.3550 - val_accuracy: 0.8550
Epoch 56/100
5359/5359 [==============================] - 2s 410us/step - loss: 0.3268 - accuracy: 0.8656 - val_loss: 0.3563 - val_accuracy: 0.8588
Epoch 57/100
5359/5359 [==============================] - 2s 379us/step - loss: 0.3271 - accuracy: 0.8658 - val_loss: 0.3545 - val_accuracy: 0.8561
Epoch 58/100
5359/5359 [==============================] - 2s 383us/step - loss: 0.3268 - accuracy: 0.8673 - val_loss: 0.3552 - val_accuracy: 0.8573
Epoch 59/100
5359/5359 [==============================] - 2s 350us/step - loss: 0.3270 - accuracy: 0.8636 - val_loss: 0.3545 - val_accuracy: 0.8565
Epoch 60/100
5359/5359 [==============================] - 1s 280us/step - loss: 0.3268 - accuracy: 0.8651 - val_loss: 0.3535 - val_accuracy: 0.8573
Epoch 61/100
5359/5359 [==============================] - 1s 262us/step - loss: 0.3266 - accuracy: 0.8636 - val_loss: 0.3540 - val_accuracy: 0.8565
Epoch 62/100
5359/5359 [==============================] - 1s 262us/step - loss: 0.3264 - accuracy: 0.8645 - val_loss: 0.3540 - val_accuracy: 0.8557
Epoch 63/100
5359/5359 [==============================] - 1s 263us/step - loss: 0.3266 - accuracy: 0.8671 - val_loss: 0.3549 - val_accuracy: 0.8535
Epoch 64/100
5359/5359 [==============================] - 1s 264us/step - loss: 0.3266 - accuracy: 0.8651 - val_loss: 0.3548 - val_accuracy: 0.8531
Epoch 65/100
5359/5359 [==============================] - 2s 293us/step - loss: 0.3264 - accuracy: 0.8636 - val_loss: 0.3546 - val_accuracy: 0.8565
Epoch 66/100
5359/5359 [==============================] - 1s 276us/step - loss: 0.3262 - accuracy: 0.8671 - val_loss: 0.3553 - val_accuracy: 0.8531
Epoch 67/100
5359/5359 [==============================] - 2s 358us/step - loss: 0.3263 - accuracy: 0.8668 - val_loss: 0.3548 - val_accuracy: 0.8546
Epoch 68/100
5359/5359 [==============================] - 2s 464us/step - loss: 0.3256 - accuracy: 0.8670 - val_loss: 0.3550 - val_accuracy: 0.8546
Epoch 69/100
5359/5359 [==============================] - 2s 338us/step - loss: 0.3261 - accuracy: 0.8649 - val_loss: 0.3547 - val_accuracy: 0.8546
Epoch 70/100
5359/5359 [==============================] - 2s 302us/step - loss: 0.3261 - accuracy: 0.8651 - val_loss: 0.3539 - val_accuracy: 0.8557
Epoch 71/100
5359/5359 [==============================] - 1s 276us/step - loss: 0.3261 - accuracy: 0.8655 - val_loss: 0.3534 - val_accuracy: 0.8554
Epoch 72/100
5359/5359 [==============================] - 1s 260us/step - loss: 0.3255 - accuracy: 0.8645 - val_loss: 0.3536 - val_accuracy: 0.8565
Epoch 73/100
5359/5359 [==============================] - 1s 251us/step - loss: 0.3257 - accuracy: 0.8638 - val_loss: 0.3544 - val_accuracy: 0.8554
Epoch 74/100
5359/5359 [==============================] - 2s 291us/step - loss: 0.3251 - accuracy: 0.8671 - val_loss: 0.3550 - val_accuracy: 0.8546
Epoch 75/100
5359/5359 [==============================] - 1s 249us/step - loss: 0.3249 - accuracy: 0.8660 - val_loss: 0.3570 - val_accuracy: 0.8569
Epoch 76/100
5359/5359 [==============================] - 1s 243us/step - loss: 0.3253 - accuracy: 0.8645 - val_loss: 0.3542 - val_accuracy: 0.8554
Epoch 77/100
5359/5359 [==============================] - 1s 238us/step - loss: 0.3253 - accuracy: 0.8677 - val_loss: 0.3540 - val_accuracy: 0.8557
Epoch 78/100
5359/5359 [==============================] - 1s 249us/step - loss: 0.3256 - accuracy: 0.8666 - val_loss: 0.3537 - val_accuracy: 0.8565
Epoch 79/100
5359/5359 [==============================] - 1s 247us/step - loss: 0.3248 - accuracy: 0.8668 - val_loss: 0.3555 - val_accuracy: 0.8550
Epoch 80/100
5359/5359 [==============================] - 1s 247us/step - loss: 0.3253 - accuracy: 0.8640 - val_loss: 0.3552 - val_accuracy: 0.8542
Epoch 81/100
5359/5359 [==============================] - 1s 244us/step - loss: 0.3253 - accuracy: 0.8656 - val_loss: 0.3533 - val_accuracy: 0.8550
Epoch 82/100
5359/5359 [==============================] - 1s 247us/step - loss: 0.3246 - accuracy: 0.8662 - val_loss: 0.3546 - val_accuracy: 0.8561
Epoch 83/100
5359/5359 [==============================] - 1s 245us/step - loss: 0.3256 - accuracy: 0.8664 - val_loss: 0.3539 - val_accuracy: 0.8546
Epoch 84/100
5359/5359 [==============================] - 1s 265us/step - loss: 0.3248 - accuracy: 0.8683 - val_loss: 0.3553 - val_accuracy: 0.8576
Epoch 85/100
5359/5359 [==============================] - 1s 236us/step - loss: 0.3246 - accuracy: 0.8658 - val_loss: 0.3539 - val_accuracy: 0.8542
Epoch 86/100
5359/5359 [==============================] - 1s 238us/step - loss: 0.3244 - accuracy: 0.8675 - val_loss: 0.3578 - val_accuracy: 0.8576
Epoch 87/100
5359/5359 [==============================] - 1s 245us/step - loss: 0.3251 - accuracy: 0.8666 - val_loss: 0.3528 - val_accuracy: 0.8538
Epoch 88/100
5359/5359 [==============================] - 1s 248us/step - loss: 0.3247 - accuracy: 0.8649 - val_loss: 0.3535 - val_accuracy: 0.8554
Epoch 89/100
5359/5359 [==============================] - 1s 250us/step - loss: 0.3243 - accuracy: 0.8658 - val_loss: 0.3540 - val_accuracy: 0.8550
Epoch 90/100
5359/5359 [==============================] - 1s 244us/step - loss: 0.3244 - accuracy: 0.8658 - val_loss: 0.3543 - val_accuracy: 0.8527
Epoch 91/100
5359/5359 [==============================] - 1s 242us/step - loss: 0.3246 - accuracy: 0.8673 - val_loss: 0.3539 - val_accuracy: 0.8565
Epoch 92/100
5359/5359 [==============================] - 1s 249us/step - loss: 0.3247 - accuracy: 0.8658 - val_loss: 0.3545 - val_accuracy: 0.8554
Epoch 93/100
5359/5359 [==============================] - 1s 237us/step - loss: 0.3245 - accuracy: 0.8640 - val_loss: 0.3536 - val_accuracy: 0.8538
Epoch 94/100
5359/5359 [==============================] - 1s 235us/step - loss: 0.3246 - accuracy: 0.8681 - val_loss: 0.3534 - val_accuracy: 0.8557
Epoch 95/100
5359/5359 [==============================] - 1s 233us/step - loss: 0.3245 - accuracy: 0.8670 - val_loss: 0.3544 - val_accuracy: 0.8569
Epoch 96/100
5359/5359 [==============================] - 1s 264us/step - loss: 0.3245 - accuracy: 0.8675 - val_loss: 0.3535 - val_accuracy: 0.8546
Epoch 97/100
5359/5359 [==============================] - 1s 262us/step - loss: 0.3246 - accuracy: 0.8658 - val_loss: 0.3535 - val_accuracy: 0.8538
Epoch 98/100
5359/5359 [==============================] - 2s 361us/step - loss: 0.3239 - accuracy: 0.8670 - val_loss: 0.3554 - val_accuracy: 0.8561
Epoch 99/100
5359/5359 [==============================] - 2s 322us/step - loss: 0.3244 - accuracy: 0.8670 - val_loss: 0.3554 - val_accuracy: 0.8557
Epoch 100/100
5359/5359 [==============================] - 2s 288us/step - loss: 0.3242 - accuracy: 0.8642 - val_loss: 0.3545 - val_accuracy: 0.8561

In [51]:
# Predicting the Test set results
y_pred= classifier.predict(X_test)
y_pred=(y_pred >0.5)

In [53]:
# Making the confusion matrix
from sklearn.metrics import confusion_matrix
cm= confusion_matrix(y_test,y_pred)
cm

array([[1507,   88],
       [ 207,  198]], dtype=int64)

In [55]:
# Calculate accuracy score

from sklearn.metrics import accuracy_score
score= accuracy_score(y_pred,y_test)
score

0.8525